.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0%;
}

#info-thumb{
    overflow: hidden;
}

.delete-form{
    display: inline-block;
}

.fa-sticky-note{
    font-size: 30px;
    position: fixed;
    top: 20%;
    right: 5%;
    color: black;
}

